body {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 3rem;
    margin-bottom: 16px;
    text-align: center;
}

.container {
    width: 960px;
    height: 960px;
    border: 8px solid black;
    padding: 8px;
    display: flex;
}

.box {
    flex: 1;
    background-color: aquamarine;
}

.box:hover {
    background-color: blueviolet;
}

